.googleLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border:none;
    border-radius: 3rem;
    padding: 0.3rem 1.3rem;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    width: 90%;
}
.googleLogin:hover{
    /* background-color: rgb(44, 44, 44);
    color: whitesmoke; */
    transform: scale(1.01,1.01);
    box-shadow: black 0 0.5rem 0.8rem;
}
.googleLogin:active{
    transform: scale(1,1);
    opacity: 0.5;
    /* background-color: rgb(44, 44, 44);
    color: whitesmoke; */
    box-shadow: black 0 0.5rem 0.8rem;
}
.githubLogin{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border:none;
    border-radius: 3rem;
    padding: 0.3rem 1.3rem;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    background-color: rgb(44, 44, 44);
    color: whitesmoke;
    margin-bottom: 1.5rem;
}
.githubLogo{
    transition: 0.2s all ease-in-out;
}
.githubLogin:hover{
    /* background-color: #F0F0F0;
    color: black; */
    transform: scale(1.01,1.01);
    box-shadow: black 0 0.5rem 0.8rem;
}
/* .githubLogin:hover .githubLogo{
    filter: invert(100%)
}
.githubLogin:active .githubLogo{
    filter: invert(100%);
} */
.githubLogin:active{
    transform: scale(1,1);
    opacity: 0.5;
    /* background-color: #F0F0F0;
    color: black; */
    box-shadow: black 0 0.5rem 0.8rem;
}
.login{
    background-color: rgba(173, 216, 230, 0.459);
    backdrop-filter: blur(10px);
    width: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 4rem;
    background-image: url("/uniPoster.jpeg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.login .loginImage{
    border-radius: 20px 20px 300px 50px;
}
@media only screen and (max-width: 1062px) {
    .container{
        justify-content: center;
    }
}
@media only screen and (max-width: 617px) {
    .googleLogin{
        width: 90%;
        gap: 0.5rem;
    }
    .githubLogin{
        width: 90%;
        gap: 0.5rem;
    }
}